body {
background-color:rgba(80, 91, 220, 0.672);
font-family: bai Jamjuree;
}
#container {
display:flex ;

}
.cartao {
margin: 1rem 1rem;
background-color: rgba(17, 113, 129, 0.872);
height: 20rem;
flex-grow: 1;
flex-basis: calc(33% -6rem);
}
.cartao__conteudo h3 {
background-color: tomato;
text-align: left;
padding: 0.5rem;
}

footer {
background-color: rgba(39, 44, 208, 0.909);
color: white;
bottom:0;
position:fixed;
width:100%;
height:2rem;
}
footer p{
text-align: center;
font-size: 2rem;
margin-top: 0,5rem;
}